* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: auto;
  font-family: "Poppins", sans-serif;
  background-color: #f6f5f1;
  overflow-x: hidden;

  .Global--wrapper {
    position: relative;
    width: auto;
    height: auto;
    #Navbar {
      width: 100%;
      padding: 0 50px;
      margin: auto;
      z-index: 1001;
      a {
        text-decoration: none;
        color: inherit;
      }
      #burger {
        display: none;
        width: 35px;
        height: 20px;
        position: fixed;
        left: 90%;
        top: 2%;
        transform: translate(-90%);
        cursor: pointer;
        z-index: 1000;
        span {
          pointer-events: none;
          height: 3px;
          background-color: black;
          position: absolute;
          border-radius: 5px;
          transition: 0.2s ease;
          &:nth-child(1) {
            width: 100%;
            right: 0;
          }
          &:nth-child(2) {
            width: 75%;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
          }
          &:nth-child(3) {
            width: 100%;
            bottom: 0;
            right: 0;
          }
        }
        &:hover span {
          &:nth-child(1),
          &:nth-child(3) {
            width: 75%;
            right: 0;
          }
          &:nth-child(2) {
            width: 100%;
          }
        }
      }
      .Actual--nav {
        width: 100%;
        height: 70px;
        #cart {
          position: absolute;
          font-size: 1.5rem;
          right: 0;
          margin: 20px 50px;
          color: #898b8a;
          cursor: pointer;
          width: 20px;
          height: 20px;
        }
        .Nav--links {
          position: fixed;
          width: 40%;
          left: 50%;
          transform: translate(-50%);
          list-style: none;
          display: flex;
          justify-content: space-around;
          height: 70px;
          align-items: center;
          transition: 0.2s ease;
          z-index: 1001;
          &:hover {
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
          }
          .Nav--link {
            font-size: 26px;
            position: relative;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            color: #898b8a;
            &::after {
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              left: 0;
              bottom: 0;
              background-color: #898b8a;
              width: 0;
              transition: 0.2s ease;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }

        .Nav--links--Scroll--anim {
          width: 100%;
          height: 40px;
          background-color: rgba(0, 0, 0, 0.4);
          .Nav--link {
            color: white;
          }
        }
        ////////////////////

        .sidebar {
          width: 50%;
          height: 100vh;
          background-color: transparent;
          list-style: none;
          right: 0;
          position: fixed;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          transform: translateX(1000px);
          transition: 0.2s ease;
          backdrop-filter: blur(2px) grayscale(1) contrast(0.3);
          z-index: 999;
          .Nav--link {
            font-size: 25px;
            transition: 0.2s ease;
            color: white;
            &:hover {
              text-decoration: line-through;
            }
          }
        }
        .sidebar--active {
          transform: translateX(0);
        }
      }
    }
    #Header--section {
      width: 100%;
      height: 700px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: url(Images/rsz_pexels-ray-piedra-1478442-min.jpg);
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        filter: contrast(0.5);
      }
      .Cursor--effect {
        pointer-events: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
        position: relative;
        backdrop-filter: contrast(2);
      }
      .Header--text {
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          font-size: 6rem;
          color: white;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
        }
        p {
          color: white;
          font-size: 25px;
        }
        button {
          margin-top: 100px;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          width: 120px;
          height: 70px;
          background-color: transparent;
          color: white;
          font-size: 1.2rem;
          border: 1px solid white;
          border-radius: 5px;
          backdrop-filter: grayscale(1);
          cursor: pointer;
          transition: 0.2s ease;
          outline: none;
          &:hover {
            backdrop-filter: contrast(1.5);
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.97);
          }
        }
      }
      .Carousel {
        width: 1000px;
        height: 300px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 5%);
        .Carousel--container {
          width: 100%;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          display: flex;
          justify-content: space-between;
          .img--container {
            width: 300px;
            height: 300px;
            border: 1px solid white;
            position: relative;
            transition: 0.2s ease;

            &:nth-child(1) {
              transform: rotateY(180deg);
            }
            &:hover {
              box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.2);
            }
            &:hover img {
              transform: rotateZ(45deg);
            }
            &:hover:nth-child(1) img {
              transform: rotateZ(-45deg);
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              transition: 0.2s ease;
              cursor: pointer;
            }
          }
        }
        .Controls {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            cursor: pointer;
          }
        }
      }
    }
    #New--stock {
      width: 100%;
      height: auto;
      text-align: center;
      h1 {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 300;
      }
      .cards--container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        opacity: 0;
        transform: translateY(500px);
        transition: 0.5s ease;
        .card {
          width: 300px;
          height: 400px;
          margin: 20px;
          position: relative;
          display: flex;
          flex-direction: column;
          border: 1px solid rgb(138, 138, 138);
          box-shadow: 2px 2px 10px rgb(146, 145, 145);

          .card-head {
            cursor: pointer;
            width: 100%;
            height: 70%;
            &::before {
              width: 100%;
              height: 75%;
              content: "";
              top: 0;
              left: 0;
              background-color: lightcoral;
              border-radius: 50%;
              position: absolute;
              z-index: -1;
              transition: 1s ease;
            }
            img {
              width: 100%;
              height: 100%;
              transition: 0.2s ease;
              pointer-events: none;
            }
            span {
              position: absolute;
              width: 50%;
              background-color: lightblue;
              left: 50%;
              transform: translate(-50%);
              border-radius: 0 0 10px 10px;
              color: white;
              transition: 0.2s ease;
              text-transform: uppercase;
            }
          }
          .card-body {
            width: 100%;
            height: 30%;
            text-align: center;
            h1 {
              font-size: 1.2rem;
            }
          }
          &:hover .card-head img {
            transform: scale(1.3) rotateZ(-45deg) rotateY(10deg);
            filter: drop-shadow(-20px 10px 4px rgba(0, 0, 0, 0.2));
          }
          &:hover .card-head::before {
            width: 80%;
            height: 55%;
            left: 50%;

            transform: translate(-50%);
          }
          &:hover .card-head span {
            background-color: lightcoral;
          }
        }
      }
      .fade {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
@media screen and (max-width: 1000px), screen and(max-device-width: 1000px) {
  body {
    .Global--wrapper {
      #Navbar {
        .Actual--nav {
          .Nav--links {
            width: 70%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 886px), screen and (max-device-width: 886px) {
  body {
    .Global--wrapper {
      #Navbar {
        .Actual--nav {
          .Nav--links {
            width: 50%;
            .Nav--link {
              font-size: 22px;
            }
          }
        }
      }
      #Header--section {
        margin-top: 70px;
        &::before {
          background-position: center;
        }
      }
    }
  }
}
@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
  body {
    .Global--wrapper {
      #Navbar {
        height: 50px;
        #burger {
          display: block;
        }
        .Actual--nav {
          #cart {
            left: 0;
            margin: 5px 20px;
          }
          .Nav--links {
            .Nav--link {
              display: none;
            }
          }
          .sidebar {
            width: 100%;
          }
        }
      }
      #Header--section {
        margin: 0;
        &::before {
          background-size: 150% 100%;
        }
        #Cursor {
          display: none;
        }
        .Header--text {
          h1 {
            font-size: 2.4rem;
            margin: 0 10px;
          }
        }
      }
      #New--stock {
        .cards--container {
          .card {
            margin: 10px auto;
          }
        }
      }
    }
  }
}
